<div class="accountinfos index">
	<h2><?php echo __('Accountinfos'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('accountNo'); ?></th>
			<th><?php echo $this->Paginator->sort('accountDate'); ?></th>
			<th><?php echo $this->Paginator->sort('bankname'); ?></th>
			<th><?php echo $this->Paginator->sort('sale_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($accountinfos as $accountinfo): ?>
	<tr>
		<td><?php echo h($accountinfo['Accountinfo']['id']); ?>&nbsp;</td>
		<td><?php echo h($accountinfo['Accountinfo']['accountNo']); ?>&nbsp;</td>
		<td><?php echo h($accountinfo['Accountinfo']['accountDate']); ?>&nbsp;</td>
		<td><?php echo h($accountinfo['Accountinfo']['bankname']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($accountinfo['Sale']['id'], array('controller' => 'sales', 'action' => 'view', $accountinfo['Sale']['id'])); ?>
		</td>
		<td><?php echo h($accountinfo['Accountinfo']['created']); ?>&nbsp;</td>
		<td><?php echo h($accountinfo['Accountinfo']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $accountinfo['Accountinfo']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $accountinfo['Accountinfo']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $accountinfo['Accountinfo']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $accountinfo['Accountinfo']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Accountinfo'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Sales'), array('controller' => 'sales', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale'), array('controller' => 'sales', 'action' => 'add')); ?> </li>
	</ul>
</div>
