<div class="salesdetails index">
	<h2><?php echo __('Salesdetails'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('sale_id'); ?></th>
			<th><?php echo $this->Paginator->sort('product_id'); ?></th>
			<th><?php echo $this->Paginator->sort('qty'); ?></th>
			<th><?php echo $this->Paginator->sort('price'); ?></th>
			<th><?php echo $this->Paginator->sort('discount'); ?></th>
			<th><?php echo $this->Paginator->sort('vat'); ?></th>
			<th><?php echo $this->Paginator->sort('unit_id'); ?></th>
			<th><?php echo $this->Paginator->sort('paymenttype_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($salesdetails as $salesdetail): ?>
	<tr>
		<td><?php echo h($salesdetail['Salesdetail']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($salesdetail['Sale']['id'], array('controller' => 'sales', 'action' => 'view', $salesdetail['Sale']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($salesdetail['Product']['name'], array('controller' => 'products', 'action' => 'view', $salesdetail['Product']['id'])); ?>
		</td>
		<td><?php echo h($salesdetail['Salesdetail']['qty']); ?>&nbsp;</td>
		<td><?php echo h($salesdetail['Salesdetail']['price']); ?>&nbsp;</td>
		<td><?php echo h($salesdetail['Salesdetail']['discount']); ?>&nbsp;</td>
		<td><?php echo h($salesdetail['Salesdetail']['vat']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($salesdetail['Unit']['name'], array('controller' => 'units', 'action' => 'view', $salesdetail['Unit']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($salesdetail['Paymenttype']['name'], array('controller' => 'paymenttypes', 'action' => 'view', $salesdetail['Paymenttype']['id'])); ?>
		</td>
		<td><?php echo h($salesdetail['Salesdetail']['created']); ?>&nbsp;</td>
		<td><?php echo h($salesdetail['Salesdetail']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $salesdetail['Salesdetail']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $salesdetail['Salesdetail']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $salesdetail['Salesdetail']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $salesdetail['Salesdetail']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Salesdetail'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Sales'), array('controller' => 'sales', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Sale'), array('controller' => 'sales', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Products'), array('controller' => 'products', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Product'), array('controller' => 'products', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Units'), array('controller' => 'units', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Unit'), array('controller' => 'units', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Paymenttypes'), array('controller' => 'paymenttypes', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Paymenttype'), array('controller' => 'paymenttypes', 'action' => 'add')); ?> </li>
	</ul>
</div>
