<div class="purchasedetails index">
	<h2><?php echo __('Purchasedetails'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('purchase_id'); ?></th>
			<th><?php echo $this->Paginator->sort('product_id'); ?></th>
			<th><?php echo $this->Paginator->sort('qty'); ?></th>
			<th><?php echo $this->Paginator->sort('price'); ?></th>
			<th><?php echo $this->Paginator->sort('discount'); ?></th>
			<th><?php echo $this->Paginator->sort('vat'); ?></th>
			<th><?php echo $this->Paginator->sort('unit_id'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($purchasedetails as $purchasedetail): ?>
	<tr>
		<td><?php echo h($purchasedetail['Purchasedetail']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($purchasedetail['Purchase']['id'], array('controller' => 'purchases', 'action' => 'view', $purchasedetail['Purchase']['id'])); ?>
		</td>
		<td>
			<?php echo $this->Html->link($purchasedetail['Product']['name'], array('controller' => 'products', 'action' => 'view', $purchasedetail['Product']['id'])); ?>
		</td>
		<td><?php echo h($purchasedetail['Purchasedetail']['qty']); ?>&nbsp;</td>
		<td><?php echo h($purchasedetail['Purchasedetail']['price']); ?>&nbsp;</td>
		<td><?php echo h($purchasedetail['Purchasedetail']['discount']); ?>&nbsp;</td>
		<td><?php echo h($purchasedetail['Purchasedetail']['vat']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($purchasedetail['Unit']['name'], array('controller' => 'units', 'action' => 'view', $purchasedetail['Unit']['id'])); ?>
		</td>
		<td><?php echo h($purchasedetail['Purchasedetail']['created']); ?>&nbsp;</td>
		<td><?php echo h($purchasedetail['Purchasedetail']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $purchasedetail['Purchasedetail']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $purchasedetail['Purchasedetail']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $purchasedetail['Purchasedetail']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $purchasedetail['Purchasedetail']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Purchasedetail'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Purchases'), array('controller' => 'purchases', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Purchase'), array('controller' => 'purchases', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Products'), array('controller' => 'products', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Product'), array('controller' => 'products', 'action' => 'add')); ?> </li>
		<li><?php echo $this->Html->link(__('List Units'), array('controller' => 'units', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Unit'), array('controller' => 'units', 'action' => 'add')); ?> </li>
	</ul>
</div>
